
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
}

:root {
	--color-light-50: #f8fafc;
	--color-dark-50: #797884;
	--color-dark-100: rgb(20,20,20);
	--color-dark-900: #000;
}

body{
	background-color: var(--color-light-50);
	
	width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
	align-items: center;
    transition: 0.5s;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.container {
	background-color: var(--color-light-50);
	max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0px 0px 5px var(--color-dark-100);
	animation: light-to-light 0.4s ease-in-out;
	
}
.sistema{
    font-size: 20px;
    font-weight: 300;
}

.fa-moon {
	position: relative;
	margin-left: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--color-dark-100);
}

.fa-sun {
	position: relative;
	margin-left: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--color-dark-100);
}


.resume{
    display: flex;
    padding: 10px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
	color: var(--color-dark-900);
}

.resume>div{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px var(--color-dark-100);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
.divType{
    margin-bottom: 10px;
}

.divDesc, .divType, .divAmount{
    display: flex;
    flex-direction: column;
    
}

.newItem>button{
    background-color: #2c73d2;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
}
.newItem{
	color:var(--color-dark-900);
}

input {
    padding: 5px;
	border-radius: 5px;
	background: var(--color-light-50);
	box-shadow: 0px 0px 5px var(--color-dark-100);
    border: none;
	color: var(--color-dark-900);
}

select {
	padding: 5px;
	border-radius: 5px;
	background: var(--color-light-50);
	box-shadow: 0px 0px 5px var(--color-dark-100);
    border: none;
	color: var(--color-dark-900)
}

.divTable{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
    
}

th{
    text-align: start;
    border-bottom: inset var(--color-dark-100);
    padding: 5px;
	color: var(--color-dark-900);
}

i {
    font-size: 25px;
}

.bxs-chevron-up-circle{
    color: #00C947;
}

.bxs-chevron-down-circle{
    color: #D83121;
}
.bx-trash{
	color: var(--color-dark-900);
}
.columnAction{
    width: 40px;
    text-align: center;
}
.columnAction>button{
    background: transparent;
    border: none;
}

.columnAmount{
    width: 30%;
	
}

.columnType{
    width: 80px;
     
}
td{
	color: var(--color-dark-900);
}


/* modo dark  */


.dark2#fundo{
	background-color: var(--color-dark-100);
    color: var(--color-light-50);
}
.dark#financa {
	background-color: var(--color-dark-100);
	box-shadow: 0px 0px 5px var(--color-light-50);
	animation: light-to-dark 0.3s ease-in-out;
}


.dark#financa .fa-sun{
	position: relative;
	margin-left: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--color-light-50);
}
.dark#financa .resume>div {
	display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px var(--color-light-50);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
	color: var(--color-light-50);
}
.dark#financa .newItem {
	color: var(--color-light-50);
}

.dark#financa input{
    padding: 5px;
	border-radius: 5px;
	background: var(--color-dark-50);
	box-shadow: 0px 0px 5px var(--color-light-50);
    border: none;
	color: var(--color-light-50);
}

.dark#financa select {
	padding: 5px;
	border-radius: 5px;
	background: var(--color-dark-50);
	box-shadow: 0px 0px 5px var(--color-dark-100);
    border: none;
	color: var(--color-light-50)
}
.dark#financa th{
    text-align: start;
    border-bottom: inset var(--color-light-50);
    padding: 5px;
	color: var(--color-light-50);
}
.dark#financa td{
	color: var(--color-light-50);
}

.dark#financa .bx-trash{
	color: var(--color-light-50);
}

@Keyframes dark-to-light {
	0% {
		background-color: var(--color-dark-100);
	}
	100% {
		background-color: var(--color-light-50);
	}
}
@Keyframes light-to-dark {
	0% {
		background-color: var(--color-light-50);
	}
	100% {
		background-color: var(--color-dark-100);
	}
}

@media (max-width: 700px){
body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
main {
    max-width: 550px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume{
    display: flex;
    padding: 10px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
}